@font-face {
	font-family: Geova;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: /* eslint-disable css/declaration-colon-space-after */
		url(../fonts/geova/Geova-Regular.woff) format("woff"),
		url(../fonts/geova/Geova-Regular.ttf) format("truetype"),
		url(../fonts/geova/Geova-Regular.woff2) format("woff2");
}

@font-face {
	font-family: Geova;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: /* eslint-disable css/declaration-colon-space-after */
		url(../fonts/geova/Geova-Medium.woff2) format("woff2"),
		url(../fonts/geova/Geova-Medium.woff) format("woff"),
		url(../fonts/geova/Geova-Medium.ttf) format("truetype");
}

@font-face {
	font-family: Geova;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: /* eslint-disable css/declaration-colon-space-after */
		url(../fonts/geova/Geova-SemiBold.woff2) format("woff2"),
		url(../fonts/geova/Geova-SemiBold.woff) format("woff"),
		url(../fonts/geova/Geova-SemiBold.ttf) format("truetype");
}

@font-face {
	font-family: Geova;
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: /* eslint-disable css/declaration-colon-space-after */
		url(../fonts/geova/Geova-Bold.woff2) format("woff2"),
		url(../fonts/geova/Geova-Bold.woff) format("woff"),
		url(../fonts/geova/Geova-Bold.ttf) format("truetype");
}

@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: /* eslint-disable css/declaration-colon-space-after */
		url(../fonts/montserrat/Montserrat-Regular.woff) format("woff"),
		url(../fonts/montserrat/Montserrat-Regular.ttf) format("truetype"),
		url(../fonts/montserrat/Montserrat-Regular.woff2) format("woff2");
}

@font-face {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: /* eslint-disable css/declaration-colon-space-after */
		url(../fonts/montserrat/Montserrat-Bold.ttf) format("truetype");
}
