/* stylelint-disable color-no-hex */

$black: #000;
$white: #fff;
$dark: #111827;
$dark-hover: #1f2937;
$brand-color: #4e46e5;
$gray-50: #f9fafb;
$gray-70: #0e0e14;
$gray-300: #d1d5db;
$gray-600: #4b5563;
$gray-900: #111827;
$gray-200: #e5e7eb;
$gray-700: #475467;

$primary-red-10: #f5d0d1;
$primary-red-20: #eaa1a4;
$primary-red-30: #e07176;
$primary-red-40: #d54249;
$primary-red-50: #cb131b;
$primary-red-60: #a20f16;
$primary-red-70: #7a0b10;
$primary-red-80: #51080b;
$primary-red-90: #290405;
