
@use "../variables/colors" as *;

.page-template-set-password .site-header {
	display: none;
}

.form-container {
	max-width: 550px;

	.form-logo {
		margin-bottom: 40px;

		.custom-logo {
			max-width: 80px;
		}
	}

	.set-password-form {

		.loader {
			width: 50px;
			aspect-ratio: 1;
			border-radius: 50%;
			border: 8px solid $black;
			border-right-color: $primary-red-50;
			animation: l24 1s infinite linear;
			display: none;
		}

		.loader::before,
		.loader::after {
			content: "";
			position: absolute;
			inset: -8px;
			border-radius: 50%;
			border: inherit;
			animation: inherit;
			animation-duration: 2s;
		}

		.loader::after {
			animation-duration: 4s;
		}

		@keyframes l24 {

			100% {
				transform: rotate(1turn);
			}
		}

		.confirm-btn {
			position: relative; /* ensure button is container for absolute child */
		}

		.confirm-btn .loader {
			width: 20px;
			height: 20px;
			border-width: 1px;
			margin: 0;
			position: absolute;
			top: 30%;
			left: 48%;
			display: none;
		}

		.confirm-btn.loading .btn-text {
			opacity: 0; /* fade text out */
		}

		.confirm-btn.loading .loader {
			display: block; /* show loader when loading */
		}

		.new-password-input,
		.confirm-password-input {

			.eye-btn,
			.closed-eye-btn {
				position: absolute !important;
				max-height: 22px;
				max-width: 24px;
				height: 100%;
				width: 100%;
				right: 12px;
				top: 50%;
			}
		}
	}
}
