
@use "../variables/colors" as *;

.set-password-form {

	.confirm-btn {
		background-color: $primary-red-50;
		font-family: Geova, sans-serif;
		padding-top: 14px;
		padding-bottom: 10px;
		font-size: 18px;
		font-weight: 500;
		line-height: 21.6px;
		color: $ada-gray-10;
	}
}
